<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Nacion.WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="false" targetFramework="4.5.2"/>
    <authentication mode="Windows"/>
    <customErrors mode="On" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <globalization culture="es-AR" uiCulture="es-AR"/>
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <applicationSettings>
    <Nacion.WebUI.Properties.Settings>
      <setting name="Nacion_WebUI_NacionService_Service" serializeAs="String">
        <value>http://localhost:4075/Service.asmx</value>
      </setting>
    </Nacion.WebUI.Properties.Settings>
  </applicationSettings>
</configuration>